div{
    border: 2px solid black;
    height: 120px;
    width: 120px;
    margin: 12px;
}
/* Con position relative , se puede mover el objeto, y deja el hueco en  donde estaba posicionado originalmente  */
.mi-div{
    position: relative;
    left: 150px;
}